.edit-delete-option {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button-dlt,
.button-edt {
  margin-left: -5px;
  margin-right: 10px;

}

#mytrip-dscr {
  font-size: 15px;
  color: black;

}

#mytrip-date {
  font-size: 13px;
  color: black;

}
