
.show-card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-bottom: 5%;
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 15px;
}

#trips-index:first-of-type {
  margin-top: 100px;
}

.show-card-trip-title {
  text-align: left;
  text-indent: 20px;
  font-weight: bold;
}

.show-card-trip .img-show-trip {
  height: 200px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.show-card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.show-card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.show-card-trip .show-card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.show-card-trip-infos .show-card-trip-user {
  position: absolute;
  right: 10px;
  top: -20px;
  width: 40px;
  white-space: nowrap;
  text-align: center;
}

.avatar-bordered {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.show-card-trip-details {
  line-height: 1rem;
}

.show-card-trip-like {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  column-gap: 10px;
}

.show-comment {

  padding-right: 20px;
}
