.card-trip-title-your-trips {
  text-align: left;
  text-indent: 20px;
  font-weight: bold;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
}


.delete {
  align-self: end;
  margin-bottom: 10px;
}


.avatar-bordered {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.edit-profile-log-out {

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.followme {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 25px;
  background: #FFFFFF;
  border-radius: 999px;
  opacity: 0.8;
  text-align: center;


}

.followme > span {

  color: #EE9C22;
  font-size: 13px;

}
