<div>
<%= simple_form_for(@follow, url: "/relationships/unfollow_user/#{user.id}") do |f| %>
    <%= f.submit "Unfollow", class: 'unfollow-button' do %>
    <i class="fa-solid fa-user-plus" style="color: #ee9022;"></i>
    <% end %>
  <% end %>

</div>
