<div class="form">

  <% if @user == current_user %>
    <div class="user-profile-navbar">
      <div class="nav-item">
        <div class="nav-content">
          <h2>Your trip</h2>
        </div>
      </div>
      <div class="nav-item">
        <div class="nav-content">
          <h2>My profile</h2>
        </div>
      </div>
    </div>

    <%= image_tag @user.image.url, class: "avatar-bordered" %>

    <%= @user.first_name %>
    <%= @user.last_name %>
  <% else %>
    <h1>Access denied</h1>
  <% end %>
</div>

