<nav>
  <div class="navbar">
    <div class="navbar-logo-container">
      <%= link_to root_path do %>
        <%= image_tag("logo.png", alt: "logo", class: "navbar-logo") %>
      <% end %>
    </div>
    <div class="message-icon-container">
        <%= link_to chatrooms_path do %>
          <i class="fa-regular fa-comments fa-2xl message-icon" style="color: #0B8D93"></i>
        <% end %>
    </div>
  </div>
</nav>
