.navbar-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-top: 1px solid rgb(171, 171, 171);
}

.navbar-link {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.navbar-link i {
  font-size: 35px; /* Taille par défaut pour les mobiles */

  @media screen and (min-width: 768px) {
    font-size: 40px; /* Taille plus grande pour les écrans de bureau */
  }
}

@media screen and (min-width: 768px) {
  .navbar-link {
    flex-grow: 0;
    width: 25%;
  }
}
