
.button {
  background: #0B8D93;
  border-radius: 999px;
  box-shadow: #0B8D93 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}


.button-dlt {
  background: #EE9C22;
  border-radius: 999px;
  box-shadow: #EE9C22 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 24px;
  opacity: 0.8;
  outline: 0 solid transparent;
  padding: 1px 9px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  right: 0;
  word-break: break-word;
  border: 0;
}

.button-edt {
  background: #0B8D93;
  border-radius: 999px;
  box-shadow: #0B8D93 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 24px;
  opacity: 0.8;
  outline: 0 solid transparent;
  padding: 1px 8px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  right: 0;
  word-break: break-word;
  border: 0;
}


.button-cancel {
  background: #EE9C22;
  border-radius: 999px;
  box-shadow: #EE9C22 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  opacity: 0.8;
  outline: 0 solid transparent;
  padding: 6px 14px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  right: 0;
  word-break: break-word;
  border: 0;
  margin-top: 10px;
}
.button-updt {
  background: #0B8D93;
  border-radius: 999px;
  box-shadow: #0B8D93 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  opacity: 0.8;
  outline: 0 solid transparent;
  padding: 6px 12px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  right: 0;
  word-break: break-word;
  border: 0;
}


.button-profile-log-out {
  background: #FFFFFF;
  border-radius: 999px;
  box-shadow: #FFFFFF 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  opacity: 0.8;
  outline: 0 solid transparent;
  padding: 6px 12px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  right: 0;
  word-break: break-word;
  border: 0;
}

.button-profile-edt {
  background: #0B8D93;
  border-radius: 999px;
  box-shadow: #0B8D93 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  opacity: 0.8;
  outline: 0 solid transparent;
  padding: 6px 12px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  right: 0;
  word-break: break-word;
  border: 0;
}


.follow-button {
  background: #EE9C22;
  border-radius: 999px;
  box-shadow: #EE9C22 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  opacity: 0.8;
  outline: 0 solid transparent;
  padding: 6px 12px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  right: 0;
  word-break: break-word;
  border: 0;
}


.unfollow-button {
  background: #111111;
  border-radius: 999px;
  box-shadow: #111111 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  opacity: 0.9;
  outline: 0 solid transparent;
  padding: 6px 12px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  right: 0;
  word-break: break-word;
  border: 0;
}


.button-search {
  background: #0B8D93;
  box-shadow: #0B8D93 0 10px 20px -10px;
  box-sizing: border-box;
  border-radius: 0 15px 0 0;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
