.chatroom-list {
  margin-top: 80px;
}


.chatroom-card {
  height: 90px;
  border-top: solid 1px rgb(141, 140, 140);
  border-bottom: solid 1px rgb(141, 140, 140);
  background-color: #ffff;
}

.link-no-color {
  color: inherit;
  text-decoration: none;
}


.chatroom-card-content {
  display: flex;
  margin-top: 10px;
}

.chatroom-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: rgba(255, 255, 255, 0.44) 1px solid;
  object-fit: cover;

  @media screen and (min-width: 768px) {
  width: 70px;
  height: 70px;
  }
}

.name-msg {
  margin-left: 10px;
}

.no-message {
  margin-top: 50vh;
  text-align: center;
}
// To style the wrapping div
.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  border-radius: 15px;
  border: solid 1px  #0B8D93;
}

.receiver-style {
  border-radius: 15px;
  border: solid 1px   #EE9C22;}

.chatroom-scroll {
overflow-y: scroll;
height: 64.4vh;
}

@media (min-width: 992px) {
  .chatroom-scroll {
    height: 65.4vh;
    }
}
