.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(171, 171, 171);
  background-color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /* Vous pouvez ajuster cette valeur si nécessaire */
}



  .navbar-logo {
    width: 200px;
    height: auto;
  }


@media (min-width: 992px) {
  .navbar-logo {
    width: 300px;
    height: auto;
  }
}

@media (min-width: 992px) {
  .user-profile-navbar {
    display: flex;
    margin-top: 111px;
    width: 390px;
    height: 65;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-content {
    text-align: center;
  }

  .nav-item:hover {
    background-color: #0B8D93;
  }
}


.user-profile-navbar {
  display: flex;
  margin-top: 85px;
  width: 390px;
  height: 65;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-content {
  text-align: center;
}

.nav-item:hover {
  background-color: #0B8D93;
}
